<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>
</head>
<body>
	<center>
	<h1>Welcome to my web api Sri !</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Pass1</th>
			<th>Pass2</th>
		</tr><br>
		{% for data in datas %}
		<br>
		<tr>
			<td>{{data.id}}</td>
			<td>{{data.name}}</td>
			<td>{{data.email}}</td>
			<td>{{data.p1}}</td>
			<td>{{data.p2}}</td>
			<td></td>
			<td></td>
		</tr>
		{% endfor %}
	</table><br><br>
		<a href="{{url_for('log')}}">New User !</a>
	</center>
</body>
</html>