<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Web Api</title>
	<link rel="stylesheet" type="text/css" href="index.css">

</head>
<center>
	<body>
		<form action="" method="post">
	
		<h1>Welcome to web API !</h1><br><br>
		<label>Name</label>
		<input type="name" name="name"><br><br>

		<label>Email</label>
		<input type="Email" name="email"><br><br>

		<label>New Password </label>
		<input type="Password" name="p1"><br><br>

		<label>Re Password</label>
		<input type="Password" name="p2"><br><br>

		<button type="button" onclick="window.location.href='{{url_for('log')}}'">Login</button>
		<input type="submit" name="Reg">

		</form>
	</body>
</center>
</html>