<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Qr Display page</title>
</head>
<body>
<form>
	<center>
		<h1>Welcome to Smartipie !<br></h1> <h2>{{name}} </h2><br><br>

		<label>Search your Qr !</label><br>
		<input type="text" name="uqrn"><button>Search</button><br><br>

		<label>Scan me to Explore the Social media !</label><br><br>

		<img src="Sanjanaa.PNG" alt="{{uqrn}}" height="50%" width="50%">

	</center>
</form>
</body>
</html>